{% extends "layout.html" %}
{% block sidebar %}
        	<ul class="nav nav-sidebar">
            <li><a href="/">Overview</a></li>
            <li><a href="/maps">Map</a></li>
            <li><a href="/analytics">Analytics</a></li>
            <li><a href="/setting">Setting</a></li>
            <li class="active"><a href="/about">About us</a></li>
          </ul>
{% endblock %}
{% block dashboard %}
<h2 class="sub-header">About LiveByte</h2>
<div>Livebyte is the opensource indoor-localization project based on commercial smart bulbs</div>
<div class=""><a href="//www.youtube.com/embed/-pVhRuiy8ZQ">https://www.youtube.com/embed/-pVhRuiy8ZQ</a></div>
<iframe width="560" height="315" src="//www.youtube.com/embed/-pVhRuiy8ZQ" frameborder="0" allowfullscreen></iframe>
{% endblock %}